[submodule "Client"]
	path = Client
	url = https://github.com/wmaZHnitXu/escadre.io-unity-client.git
[submodule "escadre.io-master-server"]
	path = escadre.io-master-server
	url = https://github.com/GoshaNumberOne/escadre.io-master-server
